* {
    margin: 0;
    padding: 0;
}

.jersey-25-regular {
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
}

.ContactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Content{
    width: 1222px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

h1{
    margin-top: 55px;
    width: 730px;
    font-size: 60px;
    align-self: flex-start;
    color: #B9EEE9;
}

.FormsArea {
    margin-top: 30px;
    width: 800px;
    height: 100%;
    align-self: center;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    margin-left: 12px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 25px;
}

input[type="text"], input[type="email"], textarea {
    margin-top: 5px;
    padding: 8px;
    width: 750px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    background-color: #D9D9D9;
    color: #666666;
    font-size: 12px;
    font-family: "Press Start 2P", serif;
}

.Description {
    vertical-align: text-top;
    text-align: left;
    height: 300px;
}

.SubmitButton {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 32px;
    width: 128px;
    height: 45px;
    padding: 0px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #B9EEE9;
    border-radius: 10px;
    transition: 0.5s;
}

.SubmitButton:hover{
    transition: 0.5s;
    scale: 1.2;
    cursor: pointer;
}

.SubmitButton:active{
    scale: 0.9;
    transition: 0.5s;
}

input[type="submit"]{
    width: 128px;
    height: 40px;
    padding: 0px;
    background: none;
    border: none;
    color: #1D2951;
    vertical-align: center;
    font-size: 25px;
    font-weight: bold;
}

input[type="submit"]:hover{
    cursor: pointer;
}