*{
    margin:0;
    padding:0;
}

@media only screen and (min-width: 1000px){
    .HomeNav {
        margin-top: 5px;
        width: 100%;
        height: 80px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .HomeNav ul{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: last baseline;
        flex-wrap: wrap;
    }

    .HomeNav li{
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
    }

    .HomeNav a {
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
    }

    .HomeNav li a:hover {
        scale: 1.3;
        transition: 0.5s;
    }

    .HomeNav li a:active {
        scale: 0.9;
        transition: 0.5s;
    }

    .HomeNav ul li p {
        font-size: 10px;
        color: #B9EEE9;
    }

    .ListElement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Icons {
        width: 40px;
        height: 40px;
        color: #fff;
    }

    .SelectLanguage {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .TextLanguage {
        font-size: 36px;
    }

    .CurrentlyLanguage{
        color: #B9EEE9;
        transition: 0.3s;
    }

    .TextLanguage a:hover{
        transition: 0.3s;
        color: #0F162A;
    }

    .TextLanguage a:active{
        transition: 0.2s;
        color: #B9EEE9;
    }

    .OtherLanguage{
        color: #fff;
    }
}

@media only screen and (max-width: 999px){
    .HomeNav {
        width: 100%;
        height: 70px;
        padding: 10px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        background-color: #111931;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ContainerMenuIcon {
        width: 10%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ContainerMenuIconNotVisible {
        display: none;
    }

    .IconMenu {
        width: 40px;
        height: 40px;
        transition-duration: 0.05s;
    }

    .IconMenu:hover {
        cursor: pointer;
    }

    .IconMenu:active {
        transition-duration: 0.05s;
        scale: 0.9;
        color: #666666;
     }

    .MenuNavBarVisible{
        z-index: 9;
        width: 100vw;
        height: 100vh;
        padding: 10px;
        background-color: #0f162a;
        opacity: 0.95;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .ListMenuNavBar {
        margin-top: 20px;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 30px;
        font-size: 30px;
    }

    .ListMenuNavBar li Link:active{
        color: #B9EEE9;
    }

    .MenuNavBarNotVisible{
        display: none;
    }

    .IconMenuVisible {
        margin-right: 10px;
    }

    .TitleNavBarMobile {
        margin-left: 1.5%;
        width: 88.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ChooseLanguageMenu {
        margin-top: 30px;
        align-self: center;
    }

    .CurrentlyLanguage{
        color: #a4ece7;
        transition: 0.3s;
    }

    .OtherLanguage{
        color: #fff;
    }
}

